* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/*颜色集*/
.black {
  background: #323B35;
}
.left {
  float: left;
}
.right {
  float: right;
}
/*公用函数集*/
.container {
  width: 424px;
  margin: auto;
}
.container > .row {
  width: 100%;
}
.container > .row:before,
.container > .row:after {
  content: "";
  display: block;
}
.container > .row:after {
  clear: both;
}
.container-fluid {
  width: 100%;
  margin: auto;
}
.container-fluid > .row {
  width: 100%;
}
.container-fluid > .row:before,
.container-fluid > .row:after {
  content: "";
  display: block;
}
.container-fluid > .row:after {
  clear: both;
}
/*小屏的时候；*/
.container > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container-fluid > .row > .col-s-1 {
  float: left;
  width: 8.33333333%;
}
.container > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container-fluid > .row > .col-s-2 {
  float: left;
  width: 16.66666667%;
}
.container > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container-fluid > .row > .col-s-3 {
  float: left;
  width: 25%;
}
.container > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container-fluid > .row > .col-s-4 {
  float: left;
  width: 33.33333333%;
}
.container > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container-fluid > .row > .col-s-5 {
  float: left;
  width: 41.66666667%;
}
.container > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container-fluid > .row > .col-s-6 {
  float: left;
  width: 50%;
}
.container > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container-fluid > .row > .col-s-7 {
  float: left;
  width: 58.33333333%;
}
.container > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container-fluid > .row > .col-s-8 {
  float: left;
  width: 66.66666667%;
}
.container > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container-fluid > .row > .col-s-9 {
  float: left;
  width: 75%;
}
.container > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container-fluid > .row > .col-s-10 {
  float: left;
  width: 83.33333333%;
}
.container > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container-fluid > .row > .col-s-11 {
  float: left;
  width: 91.66666667%;
}
.container > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.container-fluid > .row > .col-s-12 {
  float: left;
  width: 100%;
}
.col-s-hide {
  display: none;
}
.con_right ul li {
  margin-right: 5px;
}
header {
  height: 104px;
}
.left_b_1_left1_right {
  display: none;
}
.skills_3 {
  margin-top: 30px;
}
/*中屏*/
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: auto;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .col-m-hide {
    display: none;
  }
  .col-l-hide {
    display: block;
  }
  .col-s-hide {
    display: block;
  }
  .con_right ul li {
    margin-left: 2px;
  }
  header {
    height: 104px;
  }
  .right {
    float: left;
  }
  .con_right ul {
    display: block;
  }
  .left_b_1_left1_right {
    display: block;
  }
  .skills_3 {
    margin-top: 30px;
  }
}
/*大屏*/
@media screen and (min-width: 992px) {
  .container {
    width: 992px;
    margin: auto;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
  header {
    height: 52px;
  }
  .con_right ul {
    display: block;
  }
}
@media screen and (min-width: 1170px) {
  .container {
    width: 1170px;
    margin: auto;
  }
  .container > .row > .col-xl-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-xl-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-xl-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-xl-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-xl-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-xl-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-xl-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-xl-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-xl-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-xl-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-xl-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-xl-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-xl-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-xl-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-xl-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-xl-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-xl-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-xl-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-xl-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-xl-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-xl-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-xl-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-xl-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-xl-12 {
    float: left;
    width: 100%;
  }
  .col-s-hide {
    display: block;
  }
  .col-m-hide {
    display: block;
  }
  .col-l-hide {
    display: none;
  }
  header {
    height: 52px;
  }
  .con_right ul {
    display: block;
  }
  .skills_3 {
    margin-top: 0;
  }
}
/*12栅格化的核心函数*/
/*去除子元素浮动撑不开父元素的影响*/
